{% extends 'base.html.twig' %}

{% block title %}Workstreams index{% endblock %}

{% block body %}
    <h1>Workstreams index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idworkstream</th>
                <th>Workstream</th>
                <th>WorkstreamVf</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for workstream in workstreams %}
            <tr>
                <td>{{ workstream.idworkstream }}</td>
                <td>{{ workstream.workstream }}</td>
                <td>{{ workstream.workstreamVf }}</td>
                <td>
                    <a href="{{ path('app_workstreams_show', {'idworkstream': workstream.idworkstream}) }}">show</a>
                    <a href="{{ path('app_workstreams_edit', {'idworkstream': workstream.idworkstream}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_workstreams_new') }}">Create new</a>
{% endblock %}
