{% extends 'base.html.twig' %}

{% block title %}Credentials index{% endblock %}

{% block body %}
    <h1>Credentials index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Referenceid</th>
                <th>Country</th>
                <th>Projecttitle</th>
                <th>Description</th>
                <th>CountryVf</th>
                <th>ProjecttitleVf</th>
                <th>DescriptionVf</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for credential in credentials %}
            <tr>
                <td>{{ credential.referenceid }}</td>
                <td>{{ credential.country }}</td>
                <td>{{ credential.projecttitle }}</td>
                <td>{{ credential.description }}</td>
                <td>{{ credential.countryVf }}</td>
                <td>{{ credential.projecttitleVf }}</td>
                <td>{{ credential.descriptionVf }}</td>
                <td>
                    <a href="{{ path('app_credentials_show', {'referenceid': credential.referenceid}) }}">show</a>
                    <a href="{{ path('app_credentials_edit', {'referenceid': credential.referenceid}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_credentials_new') }}">Create new</a>
{% endblock %}
