{% extends 'base.html.twig' %}

{% block title %}Credentials{% endblock %}

{% block body %}
    <h1>Credentials</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Referenceid</th>
                <td>{{ credential.referenceid }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ credential.country }}</td>
            </tr>
            <tr>
                <th>Projecttitle</th>
                <td>{{ credential.projecttitle }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ credential.description }}</td>
            </tr>
            <tr>
                <th>CountryVf</th>
                <td>{{ credential.countryVf }}</td>
            </tr>
            <tr>
                <th>ProjecttitleVf</th>
                <td>{{ credential.projecttitleVf }}</td>
            </tr>
            <tr>
                <th>DescriptionVf</th>
                <td>{{ credential.descriptionVf }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_credentials_index') }}">back to list</a>

    <a href="{{ path('app_credentials_edit', {'referenceid': credential.referenceid}) }}">edit</a>

    {{ include('credentials/_delete_form.html.twig') }}
{% endblock %}
