{% extends 'base.html.twig' %}

{% block title %}Objectives index{% endblock %}

{% block body %}
    <h1>Objectives index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idobjectif</th>
                <th>Objectif</th>
                <th>ObjectifVf</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for objective in objectives %}
            <tr>
                <td>{{ objective.idobjectif }}</td>
                <td>{{ objective.objectif }}</td>
                <td>{{ objective.objectifVf }}</td>
                <td>
                    <a href="{{ path('app_objectives_show', {'idobjectif': objective.idobjectif}) }}">show</a>
                    <a href="{{ path('app_objectives_edit', {'idobjectif': objective.idobjectif}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_objectives_new') }}">Create new</a>
{% endblock %}
